// background color
$dark-blue: #212c4f;
$light-grey: #f0f3f5;

// text colors
$dark-green: #205284;
$blue-grey: #333d46;
$light-blue: #c6d0eb;
$black: #000000;
$white: #ffffff;

// button colors
$purple: #7b42f6;
$violet: #b01eff;
$pink: #e1467c;
$blue: #29a1b9;
$teal: #56ccf2;
$green: #a6e1d5;
