// background color
$dark-blue: #212C4F;
$light-grey: #F0F3F5;


// text colors
$dark-green: #205284;
$light-blue: #C6D0EB;
$black: #000000;
$white: #FFFFFF;


// button colors
$purple: #7B42F6;
$violet: #B01EFF;
$pink: #E1467C;
$blue: #3672F8;
$teal: #56CCF2;
$green: #A6E1D5;
